page-category {

    ul.categories{
        display: table;
        width: 100%;

    }

    ul{
        padding-left: 0px;
        padding: 10px;
        margin-top: 0;

        li{
            list-style: none;
            margin-bottom: 10px;
            position: relative;

            &.category{
                border: 1px solid lighten(color($colors, mauve), 40%);
                border-radius: 5px;
                overflow: hidden;
                .item{
                    background-color: lighten(color($colors, mauve), 50%);
                    padding-left: 0;
                    border-right: 1px solid lighten(color($colors, mauve), 40%);

                    &.default{
                        width: calc(100% - 40px);
                    }
                    &.hasBtn{
                        width: calc(100% - 70px);
                    }

                    .item-inner{
                        padding-left: 3px;
                        border-bottom: 0;
                    }

                    ion-select.select{
                        padding-left: 8px;
                        width: 100%;
                        max-width: 100%;

                        .select-text{
                            font-size: 14px;
                            white-space: normal;
                        }
                    }
                }


            }

            .button._icon.add{
                background-color: color($colors, mauve);
                -webkit-mask-image: url(../assets/icon/add.svg);
                mask-image: url(../assets/icon/add.svg);
                position: absolute;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
                width: 20px;
                height: 20px;
            }

            .button._icon.edit{
                background-color: color($colors, mauve);
                -webkit-mask-image: url(../assets/icon/edit.svg);
                mask-image: url(../assets/icon/edit.svg);
                position: absolute;
                right: 40px;
                top: 50%;
                transform: translateY(-50%);
                width: 20px;
                height: 20px;
            }

            .button{
                float: right;
                box-shadow: 0 0 0;
                &.edit{
                    background: color($colors, secondary);
                }

                
            }
        }
    }

    .form{
        display: table;
        width: 100%;
        ul{
            margin-top: 15px;
            display: table;
            width: 100%;
            li{
                margin-bottom: 10px;

                .input{
                    border: 1px solid lighten(color($colors, mauve), 40%);
                    border-radius: 5px;
                }

                &.messsage{
                    background: lighten(color($colors, secondary), 40%);
                    padding: 5px;
                    border: 1px solid lighten(color($colors, secondary), 30%);
                    border-radius: 5px;
                    p{
                        text-align: center;
                        margin: 5px auto;
                    }
                }

                .button{
                    float: right;
                    box-shadow: 0 0 0;

                    &.submit{
                        background: color($colors, secondary);
                    }
                    &.cancel{
                        background: color($colors, danger);
                    }

                    &.remove{
                        background: color($colors, danger);
                        float: left;
                    }
                }
            }
        }
    }

    .infos{
        display: table;
        width: 100%;
        max-width: 300px;
        margin: 20px auto;
        p{
            text-align: center;
        }

        ul{
            li{
                float: left;
                padding: 15px 10px;
                width: calc(50% - 10px);
                margin-right: 20px;
                background: lighten(color($colors, mauve), 50%);
                border: 1px solid lighten(color($colors, mauve), 40%);
                border-radius: 5px;
                position: relative;
                &:last-child{
                    margin-right: 0;
                }

                span{
                    text-align: center;
                }

                .number{
                    display: block;
                    font-size: 30px;
                    font-weight: bold;
                    color: lighten(color($colors, mauve), 40%);
                }

                .object{
                    display: block;
                    color: lighten(color($colors, mauve), 20%);
                }

                .button.show_contacts{
                    color: lighten(color($colors, mauve), 20%);
                    background-color: lighten(color($colors, mauve), 50%);
                    border: 1px solid lighten(color($colors, mauve), 40%);
                    box-shadow:  0 0 0;
                    height: 30px;
                    position: absolute;
                    bottom: -29px;
                    left: 50%;
                    transform: translateX(-50%);
                    padding: 0 30px 0 10px;
                    text-transform: none;
                    font-weight: normal;

                    &::after{
                        content: "\f425";
                        font-family: "Ionicons";
                        font-size: 20px;
                        position: absolute;
                        right: 10px;
                        top: 50%;
                        transform: translateY(-50%);
                    }
                }
            }
        }
    }

}
