page-diagnostic {
    .item{
        background-color: lighten(color($colors, mauve), 50%);
        padding-left: 0;
        border-right: 1px solid lighten(color($colors, mauve), 40%);

        &.hasButton{
            padding-left: 16px;
            .button{
                height: 40px;
            }
        }

        ion-select.select{
            padding-left: 8px;
            width: 100%;
            max-width: 100%;

            .select-text{
                font-size: 14px;
                white-space: normal;
            }
        }
    }
}
