page-search {
	.header{

		&:after{
			display: none;
		}
		.toolbar-background{
			// background: #fff;
		}

		.back-button{
			// color: color($colors, dark);
		}

		.total{
			color: #f7f7f7;
			margin: 0 0 0 0;
			padding: 4px 8px 2px;
			border: 1px solid;
			border-radius: 5px;
			font-size: 14px;
			line-height: 14px;
			position: absolute;
			right: 90px;
			top: 50%;
			transform: translateY(-50%);
		}
		
		.toolbar-content{
			input.searchbar-input{
				background: lighten(color($colors, dark), 5%);
				box-shadow: 0 0 0;
				padding: 6px 55px 6px 6px;
				color: #f1f1f1;
			}

			.searchbar-search-icon{
				display: none;
			}
		}
	}

	.searchbat_container {
		position: relative;
		button.reset_search, button.save_search{
			position: absolute;
			right: 10px;
			top: 50%;
			transform: translateY(-50%);
			background: transparent;
			box-shadow: 0 0 0;
			height: 30px;
			width: 30px;
			margin: 0 0;
			&::before{
				content: "\f49c";
				position: absolute;
				font-family: "Ionicons";
				font-size: 30px;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}
			&.save_search{
				right: 40px;
				&::before{
					content: "\f12e";
					font-size: 20px;
				}
			}
		}
	}


	.searchbar{
		background-color: lighten(color($colors, dark), 5%);
		input.searchbar-input{
		width: calc(100% - 70px);
		background: lighten(color($colors, dark), 15%);
			box-shadow: 0 0 0;
			padding: 6px 55px 6px 10px;
			color: #f1f1f1;

			&::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
				color: #f1f1f1;
				opacity: 1; /* Firefox */
			}
		}

		.searchbar-search-icon{
			display: none;
		}
	}
	
	.searchName{
		background: lighten(color($colors, dark), 0%);
		position: relative;
		padding: 5px 5px 5px 10px;
		.input{
			width: calc(100% - 120px);
			// border: 1px solid lighten(color($colors, dark), 10%);
			border-radius: 3px;
			background: lighten(color($colors, dark), 10%);

			.text-input{
				color: #f1f1f1;
			}
		}
		.button{
			position: absolute;
			right: 15px;
			top: 50%;
			transform: translateY(-50%);
			padding: 5px 5px;
			margin: 0 0;
			background: color($colors, secondary);
			box-shadow: 0 0 0;
			height: 30px;
			span{
				display: table;
				font-size: 12px;
				line-height: 12px;
				height: auto;
			}

		}
	}
	.filter{
		display: table;
		width: 100%;
		background: lighten(color($colors, dark), 10%);

		.row{
			display: table;
			width: 100%;
			position: relative;
		}

		button.more-options{
			display: table;
		    background: transparent;
		    width: 24px;
		    height: 24px;
		    position: absolute;
		    right: 16px;
		    top: 50%;
		    transform: translateY(-50%);
		    padding: 0 0;
		    margin: 0 0;

		}

		.check{
			display: table;
			width: 100%;
			float: left;

			.list{
				.item{
					background: transparent;
					display: table;
					float: left;
					width: auto;
					padding-left: 0px;

					&:first-child{
						padding-left: 16px;
					}

					&.item-radio-checked .item-inner{
						.label{
							color: color($colors, dark);
							background: #fff;
							font-size: 14px;
						}
					}

					.item-inner{
						border-bottom: 0px;
						padding: 0;

						.label{
							color: #fff;
							font-size: 14px;
							padding: 5px 10px 3px;
							background: lighten(color($colors, dark), 5%);
							border-radius: 3px;
							margin: 5px 8px 5px 0;
							text-transform: uppercase;
						}

						.radio{
							opacity: .5;
							margin: 0 0 0;

							.radio-icon{
								display: none;
							}
						}
					}
				}
			}
			.total{
				float: right!important;

				.item-inner .label{
					/* border: 1px solid; */
				    background-color: transparent!important;
				    padding-right: 0px!important;
				}

			}
		}

		.select{
			background: lighten(color($colors, dark), 15%);
			.item{
				display: table;
				width: 100%;
				background: transparent;
				padding-left: 0px;

				&:last-child{
					.item-inner{
						border-bottom: 0px;
					}
				}

				.item-inner{
					padding-left: 16px;
					border-bottom: 1px solid lighten(color($colors, dark), 10%);;
				}

				.select{
					width: 100%;
					max-width: 100%;
					padding: 10px 5px 5px 0px;

					.select-text.select-placeholder{
						color: lighten(color($colors, dark), 35%);
					}

					.select-text{
						color: #f1f1f1;
						font-size: 14px;
						line-height: 14px;
					}

					.select-icon-inner{
						color: #fff;
    					transform: translateY(-50%);
					}
				}
				&.btn_move{
					.button{
						background-color: color($colors, secondary);
						box-shadow: 0 0 0;
						width: calc(100% - 5px);
						min-height: 35px;
					}
				}
			}
		}
	}

	.result{
		&.mostViewed{
			.title{
				font-size: 16px;
				padding: 10px 15px;
				margin: 0 0;
				background: color($colors, orange);
				color: darken(color($colors, orange), 20%);
				font-size: 14px;
			}
		}
		.list{
			margin-bottom: 0;
			.item-wrapper{
				&.active-slide .item .item-inner .name span{
				    // left: auto;
				    // right: 0px;
				    // transition: all .3s;
				}

				&:last-child .item{
					border-bottom: 1px solid #F5F5F5;
				}

				&:nth-child(2n) .item{
					background: #eee;
				}

				.item{
					padding-left: 0px;



					.item-inner{
						padding-left: 16px;
						border-bottom: 1px solid #F5F5F5;

						h2.name {
						    color: color($colors, dark);
						    /* font-weight:  bold; */
						    height: 20px;
						    font-size: 16px;
						    position: relative;
							
							span{
								float: right;
								margin-left: 5px;
							    border: 1px solid;
							    padding: 1px 5px;
							    font-size: 13px;
							    line-height: 13px;
							    color: #9E9E9E;
							    border-radius: 3px;
							}

						    .city{

						    }

						    .id{
							    background: color($colors, dark);
							    color: #fafafa;
							    border: 1px solid color($colors, dark);
						    }

						}

						p.email {
						    font-size: 14px;
						    display: inline-block;
						    float: left;
						    width: calc(100% - 160px);
						    white-space: nowrap;
						    overflow: hidden;
						    text-overflow: ellipsis;
						}

						p.tel {
						    font-size: 14px;
						    display: inline-block;
						    float: right;
						    width: 140px;
						    text-align:  right;
						    font-weight: bold;
						}
					}
				}

				.options{
					border-bottom: 1px solid #F5F5F5;

					.button{
						background-color: #fafafa;
					}

					span.button-inner{
					    display:  table;
					    width:  30px;
					    max-height: 25px;

					    img{
					    	width: 25px;
					    }
					}

					.delete{
						padding: 0 15px;
						background: color($colors, danger);
						.button-inner{
							width: 20px;
							height: 25px;
							background-color: #f7f7f7;
							mask-image: url(../assets/icon/delete.svg);
						}
						
					}
				}
			}
		}

		.check_item{
			padding-left: 0;
			border-bottom: 1px solid #F5F5F5;
			.checkbox {
				margin: 9px 20px 9px 15px;
			}
			.item-inner{
				border-bottom: 0;

				h2.name {
					color: color($colors, dark);
					/* font-weight:  bold; */
					height: 20px;
					font-size: 16px;
					position: relative;
					
					span{
						float: right;
						margin-left: 5px;
						border: 1px solid;
						padding: 1px 5px;
						font-size: 13px;
						line-height: 13px;
						color: #9E9E9E;
						border-radius: 3px;
					}

					.city{

					}

					.id{
						background: color($colors, dark);
						color: #fafafa;
						border: 1px solid color($colors, dark);
					}

				}

				p.email {
					font-size: 14px;
					display: inline-block;
					float: left;
					width: calc(100% - 160px);
					white-space: nowrap;
					overflow: hidden;
					text-overflow: ellipsis;
				}

				p.tel {
					font-size: 14px;
					display: inline-block;
					float: right;
					width: 140px;
					text-align:  right;
					font-weight: bold;
				}
			}
		}

		&.triangle{

			.item-wrapper{
				&:nth-child(2n) .item{
					background-color: #fff;
				}

				&.child .item{
					background-color: #f1f1f1;
				}
				&.parent .item:first-child::before{
					content: "";
					background-color: #f1f1f1;
					width: 14px;
					height: 14px;
					position: absolute;
					left: 50%;
					bottom: 0;
					transform: translateX(-50%) translateY(50%) rotate(45deg);

				}
			}
		}
	}
}
