<!--
  Generated template for the DetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar>
		<button ion-button menuToggle right>
			<ion-icon name="menu"></ion-icon>
		</button>
		<!-- <ion-title>{{ contact.fname }} {{ contact.lname }}</ion-title> -->
		<button *ngIf="lvl > 3" (click)="homePage()" class="homepage" ion-button><img src="assets/icon/homepage.svg" alt=""></button>
		<button *ngIf="action != 'add'" ion-button class="_icon edit" (click)="editContact(contact)"></button>
	</ion-navbar>

</ion-header>


<ion-content>
	<ul class="infos" [ngClass]="(action != null) ? 'action' : 'show'">
		<li  *ngIf="action == 'edit' || action == 'add'" class="categoy">
			<ion-item>
				<ion-select #c1 interface="action-sheet" placeholder="Catégorie" (ionChange)="onChange(c1.value, 2)">
					<ion-option *ngFor="let c of _categories" value="{{ c.id }}">{{ c.title }}</ion-option>
				</ion-select>
			</ion-item>

			<ion-item *ngIf="categories_2">
				<ion-select #c2 interface="action-sheet" placeholder="Sous-catégorie" (ionChange)="onChange(c2.value, 3)">
					<ion-option *ngFor="let c of categories_2" value="{{ c.id }}">{{ c.title }}</ion-option>
				</ion-select>
			</ion-item>

			<ion-item *ngIf="categories_3">
				<ion-select #c3 interface="action-sheet" placeholder="Sous-catégorie" (ionChange)="onChange(c3.value, 4)">
					<ion-option *ngFor="let c of categories_3" value="{{ c.id }}">{{ c.title }}</ion-option>
				</ion-select>
			</ion-item>

			<ion-item *ngIf="categories_4">
				<ion-select #c4 interface="action-sheet" placeholder="Sous-catégorie" (ionChange)="onChange(c4.value, 5)">
					<ion-option *ngFor="let c of categories_4" value="{{ c.id }}">{{ c.title }}</ion-option>
				</ion-select>
			</ion-item>

			<ion-item *ngIf="categories_5">
				<ion-select #c5 interface="action-sheet" placeholder="Sous-catégorie" (ionChange)="onChange(c5.value, 6)">
					<ion-option *ngFor="let c of categories_5" value="{{ c.id }}">{{ c.title }}</ion-option>
				</ion-select>
			</ion-item>

		</li>
		<li *ngIf="action == null" class="avatar">
			<div class="img">
				<img [src]="contact.avatar" alt="">
			</div>
			<div class="btns">
				<button *ngIf="contact.avatar != null" class="delete" (click)="deletAvatar()"></button>
				<button class="camera" (click)="openCamera()"></button>
				<button class="image" (click)="openGallery()"></button>
			</div>
		</li>
		<li *ngIf="action != null">
			<span class="label">Type</span>
			<ion-item>
				<ion-select [(ngModel)]="type" interface="action-sheet" placeholder="Type de contact">
					<ion-option value="contact">Contact</ion-option>
					<ion-option value="company">Entreprise</ion-option>
				</ion-select>
			</ion-item>
		</li>
		<li>
			<span class="label">Nom</span>
			<span *ngIf="(action != 'add')" class="id">{{ contact.id }}</span>
			<span *ngIf="(action == null)" class="value" ion-long-press [interval]="400" (onPressing)="presentActionSheet(fullName, 'Autre')">{{ contact.fname }} {{ contact.lname }}</span>
			<ion-item *ngIf="action != null && type != 'company'">
				<ion-input [(ngModel)]="fname" placeholder="Prènom"></ion-input>
			</ion-item>
			<ion-item *ngIf="action != null">
				<ion-input [(ngModel)]="lname" placeholder="Nom"></ion-input>
			</ion-item>
		</li>
		<li *ngIf="action == null">
			<span class="label">Type</span>
			<span *ngIf="contact.type == 'contact'" class="value">Personne</span>
			<span *ngIf="contact.type == 'company'" class="value">Entreprise</span>
		</li>
		<li>
			<span class="label">Ville</span>
			<span *ngIf="action == null" class="value" ion-long-press [interval]="400" (onPressing)="presentActionSheet(contact.city, 'Autre')">{{ contact.city }}</span>
			<ion-item *ngIf="action != null">
				<ion-input [(ngModel)]="city" placeholder="Ville"></ion-input>
			</ion-item>
		</li>
		<li>
			<span class="label">Site web</span>
			<span *ngIf="action == null" class="value" ion-long-press [interval]="400" (onPressing)="presentActionSheet(contact.webSite, 'Autre')">{{ contact.webSite
				}}</span>
			<ion-item *ngIf="action != null">
				<ion-input [(ngModel)]="web_site" placeholder="Site web"></ion-input>
			</ion-item>
		</li>
		<li>
			<span class="label">Notes</span>
			<span *ngIf="action == null" class="value" ion-long-press [interval]="400" (onPressing)="presentActionSheet(contact.notes, 'Autre')">{{ contact.notes }}</span>
			<ion-item *ngIf="action != null">
				<ion-textarea [(ngModel)]="notes" class="note-input" rows="5" placeholder="Notes"></ion-textarea>
			</ion-item>
		</li>
		<li class="actions">
			<button *ngIf="action == 'add'" class="add" ion-button (click)="saveContact('add')">Ajouter</button>
			<button *ngIf="action == 'edit'" class="add" ion-button (click)="saveContact('edit')">Modifier</button>
			<button *ngIf="action != null" class="close" ion-button (click)="close()">Annuler</button>
		</li>
		<li class="title">
			<h2>Informations</h2>
			<button class="_icon add" (click)="editInfo(0, contact.id)"></button>
		</li>

		<li class="contact-info" *ngFor="let i of contact.infos" [ngClass]="(i.status) ? 'default' : 'no'">
			<span class="label">{{ i.type }} - {{ i.label }}</span>
			<span class="value" ion-long-press [interval]="400" (onPressing)="presentActionSheet(i.value, i.type)">{{ i.value }}</span>
			<button class="_icon edit" (click)="editInfo(i)"></button>
		</li>

		<li class="title">
			<h2>Relations <span>Entreprises</span></h2>
			<button *ngIf="canAddCompany" class="_icon add" (click)="addRelation('company', contact)"></button>
			<button *ngIf="relations?.companies.length > 0" [ngClass]="(!canAddCompany) ? 'right' : 'default'" class="_icon edit"
			 (click)="allowDelete('company')"></button>
		</li>

		<li class="relations" *ngFor="let r of relations?.companies" (click)="details(r.contact)">
			<p class="name">{{ r.contact.lname }} {{ r.contact.fname }}</p>
			<span class="id">{{ r.contact.id }}</span>
			<button *ngIf="canDeleteCompany == true" class="_icon delete" (click)="deleteRelation(r.id)"></button>
			<span class="occupation">{{ r.occupation }}</span>
		</li>

		<li class="title">
			<h2>Relations <span>Contactes</span></h2>
			<button *ngIf="canAddContact" class="_icon add" (click)="addRelation('contact', contact)"></button>
			<button *ngIf="relations?.contacts.length > 0" [ngClass]="(!canAddContact) ? 'right' : 'default'" class="_icon edit"
			 (click)="allowDelete('contact')"></button>
		</li>

		<li class="relations" *ngFor="let r of relations?.contacts" (click)="details(r).contact">
			<p class="name">{{ r.lname }} {{ r.contact.fname }}</p>
			<span class="id">{{ r.contact.id }}</span>
			<button *ngIf="canDeleteContact == true" class="_icon delete" (click)="deleteRelation(r.id)"></button>
			<span class="occupation">{{ r.occupation }}</span>
		</li>

		<li class="title" *ngIf="categories">
			<h2>Categories</h2>
		</li>
		<li class="categories">
			<span *ngFor="let c of categories" class="">{{ c.title }}</span>
		</li>
	</ul>
</ion-content>