<!--
  Generated template for the DetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

	<ion-navbar>
		<button ion-button menuToggle right>
			<ion-icon name="menu"></ion-icon>
		</button>
		<ion-title>{{ contact.fname }} {{ contact.lname }}</ion-title>
		<button *ngIf="lvl > 3" (click)="homePage()" class="homepage" ion-button><img src="assets/icon/homepage.svg" alt=""></button>
		<button ion-button class="_icon edit" (click)="editContact(contact)"></button>
	</ion-navbar>

</ion-header>


<ion-content>
	<ul class="infos">
		<li *ngIf="contact.city">
			<span class="label">Ville</span>
			<span class="value">{{ contact.city }}</span>
		</li>
		<li *ngIf="contact.webSite" (click)="presentActionSheet(contact.webSite, 'webSite')">
			<span class="label">Site web</span>
			<span class="value">{{ contact.webSite }}</span>
		</li>
		<li *ngIf="contact.email" (click)="presentActionSheet(contact.email, 'email')">
			<span class="label">E-mail</span>
			<span class="value">{{ contact.email }}</span>
		</li>
		<li *ngIf="contact.notes">
			<span class="label">Notes</span>
			{{ contact.notes }}
			<ion-textarea hidden class="note-input" rows="5" placeholder="Ajouter des notes"></ion-textarea>
			<button hidden ion-button class="add-btn">Envoyer</button>
		</li>
		<li class="title">
			<h2>Informations</h2>
			<button class="_icon add" (click)="editInfo(0, contact.id)"></button>
		</li>

		<li class="contact-info" *ngFor="let i of contact.infos">
			<span class="label">{{ i.type }}</span>
			<span class="value" (click)="presentActionSheet(i.value, i.type)">{{ i.value }}</span>
			<button class="_icon edit" (click)="editInfo(i)"></button>
		</li>

		<li class="title">
			<h2>Relations <span>Entreprises</span></h2>
			<button *ngIf="canAddCompany" class="_icon add" (click)="addRelation('company', contact)"></button>
			<button *ngIf="relations?.companies.length > 0" class="_icon edit" (click)="allowDelete('company')"></button>
		</li>

		<li class="relations" *ngFor="let r of relations?.companies" (click)="details(r)">
			<p class="name">{{ r.lname }} {{ r.fname }}</p>
			<span class="id">{{ r.id }}</span>
			<button *ngIf="canDeleteCompany == true" class="_icon delete" (click)="deleteRelation(r.id)"></button>
			<span class="occupation">{{ r.occupation }}</span>
		</li>

		<li class="title">
			<h2>Relations <span>Contactes</span></h2>
			<button *ngIf="canAddContact" class="_icon add" (click)="addRelation('contact', contact)"></button>
			<button *ngIf="relations?.contacts.length > 0" class="_icon edit" (click)="allowDelete('contact')"></button>
		</li>

		<li class="relations" *ngFor="let r of relations?.contacts" (click)="details(r)">
			<p class="name">{{ r.lname }} {{ r.fname }}</p>
			<span class="id">{{ r.id }}</span>
			<button *ngIf="canDeleteContact == true" class="_icon delete" (click)="deleteRelation(r.id)"></button>
			<span class="occupation">{{ r.occupation }}</span>
		</li>

		<li class="title" *ngIf="categories">
			<h2>Categories</h2>
		</li>
		<li class="categories">
			<span *ngFor="let c of categories" class="">{{ c.title }}</span>
		</li>
	</ul>
</ion-content>