page-detail {

	._icon.add{
		background-color: color($colors, dark);
		-webkit-mask-image: url(../assets/icon/add.svg);
		mask-image: url(../assets/icon/add.svg);
		right: 0px;
		top: 0;
		// transform: translateY(-50%);
	}

	.header{
		.toolbar-content{
			position: relative;
			.title{
				.toolbar-title{
					font-size: 14px;
				}
			}

			button.homepage{
				display: table;
			    position: absolute;
			    right: 10px;
			    top: 50%;
			    -webkit-transform: translateY(-50%);
			    transform: translateY(-50%);
			    float: right;
			    background: transparent;
			    box-shadow: 0 0 0;
			    padding: 0 0;
			    margin: 0 0;
			    width: 20px;
			    height: 20px;

				img{
					max-width: 20px;
					max-height: 20px;
				}
			}
		}
		
		._icon.edit{
			right: 16px;
			width: 20px;
			height: 20px;
		}

		
	}

	.infos{
		margin-top: 0px;
		padding-left: 0px;
		padding: 16px;

		& > li{
			border-bottom: 1px solid #eee;

			&:last-child{
				border-bottom: 0px;
			}
		}

		&.action li{
			border-bottom: 0;
		}

		.input{
			box-shadow: inset 0 0 0px 1px lighten(color($colors, dark), 60%);
			margin-bottom: 5px;
			border-radius: 5px;
			// height: 35px;
		}

		ion-select.select{
			padding-left: 8px;
			width: 100%;
			max-width: 100%;
			box-shadow: inset 0 0 0px 1px lighten(color($colors, dark), 60%);
			margin-bottom: 5px;
			border-radius: 5px;

			.select-text{
				font-size: 14px;
				white-space: normal;
			}
		}

		.item{
			padding-left: 0;
			.item-inner{
			border-bottom: 0;
			padding-right: 0;
		}
		} 

		li.avatar{
			min-height: 100px;
			position: relative;
			border-bottom: 0;
			.img{
				display: block;
				height: 100%;
				min-height: 100px;
				width: 100%;
				border-radius: 5px;
				background: lighten(color($colors, mauve), 50%);
				border: 2px dashed lighten(color($colors, mauve), 45%);

				img{
					display: table;
				}
			}
			.btns{
				position: absolute;
				display: table;
				width: 100%;
				bottom: 0;
				right: 15px;
				opacity: .3;
				.camera{
					background: transparent;
					box-shadow: 0 0 0;
					width: 40px;
					height: 40px;
					float: right;
					&:after{
						content: "\f3f6";
						width: 40px;
						height: 40px;
						font-family: "Ionicons";
						font-size: 30px;
						margin-left: 10px;
					}
				}
				.image{
					background: transparent;
					box-shadow: 0 0 0;
					width: 40px;
					height: 40px;
					float: right;
					&:after{
						content: "\f30e";
						width: 40px;
						height: 40px;
						font-family: "Ionicons";
						font-size: 30px;
						margin-left: 10px;
					}
				}
			}
		}

		li.actions{
			margin-bottom: 30px;
			.button{
				float: right;
				box-shadow: 0 0 0;
				&.add{
					background-color: color($colors, secondary);
				}

				&.close{
					background-color: color($colors, danger);
				}
			}
		}

		li{
			list-style: none;
			margin-bottom: 10px;
			position: relative;
			display: table;
			width: 100%;



			&.default{
				.label{
					padding-left: 18px;
					position: relative;
					// font-family: "Ionicons";
					// color: color($colors, secondary);
					&:after{
						content: "\f149";
						color: color($colors, secondary);
						font-family: "Ionicons";
						width: 15px;
						height: 15px;
						font-size: 15px;
						position: absolute;
						left: 0;
						top: 0;
					}
				}
			}

			._icon.edit{
				right: 30px;
				background: color($colors, dark);
				width: 16px;
				height: 16px;
				top: 0px;
				transform: translateY(0%);

				&.right{
					right: 0;
				}
			}

			._icon.delete{
				background-color: color($colors, danger);
				mask-image: url(../assets/icon/delete.svg);
				right: 50px;
				width: 16px;
				height: 20px;
				top: -3px;
				z-index: 9;
			}

			&.contact-info{
				._icon.edit{
					right: 0px;
					background: #bdbdbd;
					width: 16px;
					height: 16px;
					top: -2px;
				}
			}

			&:last-child{
				border-bottom: 0px;
			}

			&.relations{
				border-bottom: 1px solid #eee;
				margin-bottom: 15px;

				.name{
					color: color($colors, mauve);
					display: table;
					width: calc(100% - 50px);
					margin: 0 0 5px;
				}

				.id{
					position: absolute;
					right: 0;
					top: 0;
				    padding: 1px 5px;
				    font-size: 13px;
				    line-height: 13px;
				    background: color($colors, mauve);
				    color: #fafafa;
					border: 1px solid color($colors, mauve);
					border-radius: 3px;
					left: auto;
				}

				.occupation{
					color: #757575;
				}

				&:last-child{
					border-bottom: 0;
				}
			}
			
			&.title{
				border-bottom: 0px;

				h2{
					font-weight: bold;
				    font-size: 14px;
				    padding-bottom: 5px;
				    color: color($colors, dark);
				    text-transform: uppercase;
				    border-bottom: 1px solid;

				    span{
				    	// color: #424242;
				    	display: inline-block;
				    }
				}
				
			}

			span{
				display: block;
				margin-bottom: 5px;

				&.label{
					color: #bdbdbd;
				}

				&.value{
					font-size: 15px;
				}

				&.id{
					position: absolute;
					border: 1px solid color($colors, dark);
					border-radius: 5px;
					// right: 0;
					left: 40px;
					top: 0;
					padding: 0px 5px;
					height: 18px;
					line-height: 18px;
				}
			}

			p.note{
				margin-top: 0px;
				margin-bottom: 5px;
			}
			
			.note-input{
				border: 1px solid #e0e0e0;
				margin-top: 5px;
				border-radius: 5px;
			}

			button.add-btn {
			    float:  right;
			    line-height: 100%;
			    height: 35px;
			    width: 100%;
			    background: #78909C;
			}

			span.button-inner {
			    line-height: 35px;
			}

			.icons {
			    position:  absolute;
			    right:  0px;
			    z-index:  15;
			    top: 0px;

			    ul{
					padding-left: 0px;

			    	li{
						list-style: none;
					    display:  table;
					    width: 20px;
					    height: 20px;
					    float:  left;
					    margin-left: 20px;
					    margin-bottom: 0px;
					    top: 5px;

			    		img{
							
			    		}
			    	}
			    }
			}
		}
	}



	

}
.action-sheet-wrapper{
		.action-sheet-group{
			.action-sheet-button{

				color: color($colors, mauve);

				.action-sheet-icon{
					margin-right: 15px;
						&:before{
							content: "";
							width: 20px;
							height: 20px;
							background-size: cover!important;
						}
				}

				&.call .action-sheet-icon:before{
					background: url(../assets/icon/call-3.svg) no-repeat center;
				}

				&.sms .action-sheet-icon:before{
					background: url(../assets/icon/sms-1.svg) no-repeat center;
				}

				&.email .action-sheet-icon:before{
					background: url(../assets/icon/mail-1.svg) no-repeat center;
				}

				&.whatsapp .action-sheet-icon:before{
					background: url(../assets/icon/whatsapp-1.svg) no-repeat center;
				}

				&.copy .action-sheet-icon:before{
					background: url(../assets/icon/copy.svg) no-repeat center;

				}
				
			}
		}
	}