<!--
  Generated template for the EditInfoPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title *ngIf="info">Modifier</ion-title>
		<ion-title  *ngIf="!info">Ajouter</ion-title>
		<!--  -->
		<ion-toggle *ngIf="info && (info.type == 'Email' || info.type == 'Mobile' || info.type == 'LandLine')" [(ngModel)]="info.status"></ion-toggle>
		<ion-toggle *ngIf="!info && (type == 'Email' || type == 'Mobile' || type == 'LandLine')" [(ngModel)]="status"></ion-toggle>
  </ion-navbar>

</ion-header>


<ion-content>
	<ul *ngIf="info">
		<li hidden><ion-input [(ngModel)]="info.IdInfoContact" type="number" placeholder="Number Input with no label"></ion-input></li>
		<li>
			<ion-select [(ngModel)]="info.type" placeholder="Type d'information">
			    <ion-option value="Mobile">Mobile</ion-option>
			    <ion-option value="Address">Adress</ion-option>
			    <ion-option value="Email">Email</ion-option>
			</ion-select>
		</li>
		<li><ion-input [(ngModel)]="info.label" type="text" placeholder="Label"></ion-input></li>
		<li><ion-input  *ngIf="info.type != 'Mobile'" [(ngModel)]="info.value" type="text" placeholder="Valeur"></ion-input></li>
		<!-- <li><ion-input *ngIf="info.type == 'Mobile'" [(ngModel)]="info.value" type="text" placeholder="Valeur" [brmasker]="{phone: true}"></ion-input></li> -->
		<li><input-mask *ngIf="info.type == 'Mobile'" [(ngModel)]="info.value" type="text" placeholder="(+___) ___ ___ ___" mask="(+___) ___ ___ ___" allowedChars="0-9 " type="tel" maskCharacter="_" tabindex="0"></input-mask></li>
		<li>
			<button class="edit" ion-button (click)="submit('edit')">Modifier</button>
			<button class="cancel" ion-button (click)="close()">Annuler</button>
			<button class="delete" ion-button (click)="deleteInfo()" danger>Supprimer</button>
		</li>
	</ul>

	<ul *ngIf="!info">
		<li>
			<ion-select [(ngModel)]="type" placeholder="Type d'information">
			    <ion-option value="Mobile">Mobile</ion-option>
			    <ion-option value="LandLine">LandLine</ion-option>
			    <ion-option value="Fix">Fix</ion-option>
			    <ion-option value="Address">Address</ion-option>
			    <ion-option value="Email">Email</ion-option>
			</ion-select>
		</li>
		<li><ion-input [(ngModel)]="label" type="text" placeholder="Label"></ion-input></li>
		<li><input-mask *ngIf="type == 'Mobile'" [(ngModel)]="value" type="text" placeholder="(+___) ___ ___ ___" mask="(+___) ___ ___ ___" allowedChars="0-9 " type="tel" maskCharacter="_" tabindex="0"></input-mask></li>
		<li><ion-input *ngIf="type != 'Mobile'" [(ngModel)]="value" type="text" placeholder="Valeur"></ion-input></li>
		<li>
			<button class="edit" *ngIf="!info" ion-button (click)="submit('add')">Ajouter</button>
			<button class="cancel" ion-button (click)="close()">Annuler</button>
		</li>
	</ul>
</ion-content>
